Using pokemon class, it must be possible to:
1) set a given animation
2) set a given collision shape
3) communicate that an animation has changed
4) communicate that a collision shape has changed
5) communicate that an animation has finished
6) change the pokemon in the editor
7) signal the pokemon change
8) some pokemon  collision (charizard) have problems such as "Convex decomposing failed!",
 must find a solution
9) utilizzare un collision container che è davvero una collision shape
10) res://Model/utils/CollisionContainer.gd:45 - Invalid get index '80' (on base: 'Array').
    when the pokemon is changed or the animation name is changed, the process_physics function has a frame
    number that does not fit with the changed array. This happen only once, than all is smooth.


Problems with tool keyword:
1) dont remove collision shape while in editor
2) make only work sprites