Using pokemon class, it must be possible to:
1) set a given animation
2) set a given collision shape
3) communicate that an animation has changed
4) communicate that a collision shape has changed
5) communicate that an animation has finished
6) change the pokemon in the editor
7) signal the pokemon change
8) some pokemon  collision (charizard) have problems such as "Convex decomposing failed!",
 must find a solution
9) utilizzare un collision container che è davvero una collision shape
10) res://Model/utils/CollisionContainer.gd:45 - Invalid get index '80' (on base: 'Array').
    when the pokemon is changed or the animation name is changed, the process_physics function has a frame
    number that does not fit with the changed array. This happen only once, than all is smooth.


Problems with tool keyword:
1) dont remove collision shape while in editor
2) make only work sprites

APPUNTI OFFSETS
Verde -> centro
Nero -> shooting point
Rosso -> mano destra
Blu -> mano sinistra

#########################
1) make the collisions visible or invisible with a flag
2) all the signals goind down should be transformed in calls. However, still a good idea to keep the signals
3) third flag that for centering the sprite.
4) risolvere problema che il current_sprite è uguale a null quando ricarico la scens
5) when reloading, the script does not find the collision node while doing get_node()
# 9/11/22
Se ricarico il pokemon il centering risulta sbagliato (resettandosi)




